<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFiles/log@" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %l %newline  %message%newline" />
      </layout>
    </appender>
    <root>
      <!--
      設定寫log的層級  
        ALL     全寫   
        DEBUG   Debug用的
        INFO    資訊  (此層級用來寫SQL Log)
        WARN    警告
        ERROR   錯誤
        FATAL   毀滅性錯誤
        OFF     關閉
       -->
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <!--<appender-ref ref="SmtpAppender" />-->
    </root>
  </log4net>
</configuration>